@import url(shared.css);

:root {
    --gris: rgba(0, 0, 0, .7);
    --fondo: rgba(217, 217, 217, .5);
    --Negro: rgb(0,0,0);
}


.titulo {
    background-image: linear-gradient(rgba(255, 191, 64, .3),rgba(255, 191, 64, .15)),url("fondos/fondo-inicio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 908px;
}

.cont-titulo {
    width: 565px;
    height: 246px;
    margin-top: 12%;
    margin-right: 25px;
    background-color: var(--fondo);
    padding: 25px 20px;
}

h4 {
    color: var(--gris);
}

.btn-azul {
    width: 108px;
    height: 34px;
    padding: 0;
    margin-right: 15px;
}



/* .info, .mision-vision{
    background-color: pink;
    display: block;
    justify-content: center;
} */

/* .logo-info{
   width: 400px;
   height: 400px;
   padding: 0;
   margin-right: 100px;
} */
/* .logo-info img{
    width: 100%;
    display: block;
} */

/* .texto-info{
   
    width: 400px;
} */

/* .mision,
.vision{
    width: 400px;
 } */

/* .mision{
    margin-right: 100px;
 } */

/* .finalidad{
    width: 60%;
    height: 50px;
    background-color: pink;
    margin: 20px auto 0 auto;
 } */


/* .carousel-item {
    background-color: pink;
} */

.proposito {
    margin: 30px 0 !important;
    text-align: center;
}

.slider {
    width: 29px !important;
    height: 29px !important;
    margin: 0 15px !important;
    border-radius: 60px !important;
    -webkit-border-radius: 60px !important;
    -moz-border-radius: 60px !important;
    -ms-border-radius: 60px !important;
    -o-border-radius: 60px !important;
    background-color: var(--Azul) !important;
}

.contenedor-prop{
    /* background-color: orange; */
    /* width: 60%; */
    display: block;
    margin: 100px auto;
}

.circulo {
    background-color:  var(--Amarillo);
    width: 206px;
    height: 206px;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    text-align: center !important;
}
.circulo h1{
    display: block;
    margin: 0 auto;
    font-size: 4rem;
    color: var(--Azul);
}
.texto-proposito{
    width: 935px !important;
    min-height: 206px !important;
    font-size: 2rem;
    background-color: var(--fondo);
    padding-left: 75px;
    padding-right: 75px;
    
}

.mision-vision{
    background-color: gray;
    height: 340px;
}
.mision-vision div{
    height: 100%;
}

.mision-vision p{
    font-size: 1.3rem;
}

.mision{
    padding: 0 73px;
    color: var(--Blanco);
    background-color: var(--Azul);
    display: grid;
    align-items: center;
}

.vision{
    background-color: var(--Amarillo);
    padding: 0 73px;
    display: grid;
    align-items: center;
}

.finalidad h2{
    text-align: center;
}

.lista{
    margin: 40px 60px;
}

.lista li{
  margin-bottom: 15px;
  font-size: 1.4rem;
}