@import url(shared.css);

.titulo{
    height: 149px;
    background-color: var(--Amarillo);
    text-align: center;
    margin-bottom: 30px !important;
}

.foto{
    width: 40%;
    /* background-color: blanchedalmond; */
    flex-direction: column;
}

#colaboradora,
.foto div{
    width: 73%;
    display: block;
    margin-left: 75px;
}

#colaboradora{
    margin-top: 30px;
}

.info{
    width: 60%;
    padding: 0 !important;
    flex-direction: column;
}

.info1{
    background-color: var(--Azul);
    height: 377px;
    width: 100%;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    text-align: center;
}

.info2{
    margin-top: 40px ;
    margin-left: 80px;
    width: 700px;
    /* Temporal */
     /* background-color: blue;  */
}


.info p{
    font-size: 30px;
    margin-left: 150px;
    margin-right: 75px;
    color: var(--Blanco);
}

/* strong{
    color: var(--Amarillo);
} */
.info h5{
    font-size: 25px;
    /* margin-left: 150px;
    margin-right: 75px; */
    margin-top: 30px;
    margin-bottom: 30px;
}

.info img{
    width: 55px;
    height: 55px;
}

.comillas1, .comillas2{
    /* background-color: blueviolet; */
    height: 100%;
}
.comillas2 img{
    margin-right: 25px;
}

.razon{
   padding-right: 50px; 
}
.razon h1,
.razon p{
    margin-left: 75px;
}
.razon p{
    margin-top: 35px;
    font-size: 30px;
}

.m-logo{
    padding: 0 !important;
}

.m-logo img{
    width: 100%;
    /* margin-right: 75px; */
}

h1{
    font-size: 40px !important;
}

.contenedor2,
.contenedor3{
    margin-top: 150px;
   
}

.video{
    /* Tempororal */
    background-color: gray;
    width: 70%;
    display: block;
    margin: auto;
    height: 600px;
}

.video img{
    width: 30%;
    display: block;
    margin: auto;
}

.separador{
    height: 6px;
    background-color: var(--Amarillo);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 0 75px 25px 75px;
}

.contenedor4{
    margin: 0 75px 35px 75px;
    padding: 10px;
}